.container {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.form {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.controls {
  display: flex;
}

.input__title {
  width: 100%;
  padding: 1rem 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--gray-300);
  background-color: transparent;
  font-size: var(--font-500);
  margin-bottom: 1rem;
}

.input__title::placeholder {
  color: var(--gray-500);
}

.input__date {
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0.5rem 1rem;
  background-color: var(--gray-100);
  color: var(--gray-500);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-200);
}

.input__date:first-child {
  position: relative;
  margin-right: 0.5rem;
}

.btn__submit {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: var(--font-300);
}

@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
