.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.item:not(:last-child) {
  border-right: 1px solid var(--gray-100);
}

.icon {
  font-size: var(--font-300);
}

.num {
  font-size: var(--font-300);
  font-weight: var(--weight-700);
}

.text {
  color: var(--gray-500);
  font-size: var(--font-100);
  font-weight: var(--weight-400);
}
